[submodule "Card_Gradient"]
	path = Card_Gradient
	url = https://github.com/elcaneyvazli/Card_Gradient_Animation.git
[submodule "Scroll_Animation"]
	path = Scroll_Animation
	url = https://github.com/elcaneyvazli/Scroll_Animation.git
[submodule "Simple_Toast_Animation"]
	path = Simple_Toast_Animation
	url = https://github.com/elcaneyvazli/Simple_Toast_Animation.git
[submodule "dnd_react"]
	path = dnd_react
	url = https://github.com/elcaneyvazli/Dnd_React.git
